# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='JWT_SECRET'
JWT_ALGO='JWT_ALGO'
NODE_ENV='development'
JWT_ACCESS_EXPIRES_IN='2min'
JWT_REFRESH_EXPIRES_IN='30min'

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'

CLIENT=pg
DATABASE=users
PG_USER=postgres
PASSWORD=PASSWORD
HOST=127.0.0.1
PG_PORT=5432
